version: '3.2'
services:
    # ==============================================
    # Storages
    # ==============================================
    db:
        image: mariadb
        ports:
            -   3306::3306
        environment:
            - MYSQL_DATABASE=pollo_loco
            - MYSQL_ROOT_PASSWORD=root

    # ==============================================
    # Web admin
    # ==============================================
    pma:
        image: phpmyadmin/phpmyadmin
        ports:
            - 5649:80
        environment:
            - "PMA_HOST=db"
            - "PMA_USER=root"
            - "PMA_PASSWORD=root"



